<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab_02.Properties.Settings.connectionString" connectionString="Data Source=DESKTOP-FCVPJ3V\SQLEXPRESS;Initial Catalog=FishingApp;Persist Security Info=True;User ID=sa;Password=admin;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="parentTableName" value="RodBrand"/>
		<add key="childTableName" value="Rod"/>
		<add key="parentToChildRelationName" value="RodBrandName"/>
		<add key="childToParentRelationName" value="RodBrandName"/>-->

		<!--<add key="parentTableName" value="Species"/>
		<add key="childTableName" value="Fish"/>
		<add key="parentToChildRelationName" value="SpeciesName"/>
		<add key="childToParentRelationName" value="SpeciesName"/>-->

		<add key="parentTableName" value="ReelBrand"/>
		<add key="childTableName" value="Reel"/>
		<add key="parentToChildRelationName" value="ReelBrandName"/>
		<add key="childToParentRelationName" value="ReelBrandName"/>
	</appSettings>
</configuration>