<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab_01.Properties.Settings.FishingAppConnectionString"
            connectionString="Data Source=DESKTOP-FCVPJ3V\SQLEXPRESS;Initial Catalog=FishingApp;Persist Security Info=True;User ID=sa;Password=admin;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>